# Ignore bundler config.
/.bundle

# Ignore all environment files (except templates).
/.env
/.env.enc
/.env.local
!/.env*.erb

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore pidfiles, but keep the directory.
/tmp/pids/*
!/tmp/pids/
!/tmp/pids/.keep

# Ignore storage (uploaded files in development and any SQLite databases).
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/
!/tmp/storage/.keep

# Ignore master key for decrypting credentials and more.
/config/master.key

.docker/*
.byebug_history
coverage/*
.idea/*

config/credentials.yml.enc

vendor/bundle
node_modules/
package-lock.json
package.json
env.enc
enc.env

.DS_Store
